# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor Settings
.vscode/
.idea/
*.suo
*.user
*.useroscan
*.sln.docstates

# Logs & Temporary Files
*.log
*.tmp
*.temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node / Dependencies
node_modules/

# Release archives
*.zip
Variable-Plugin-*.zip
